<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/twitterscraper/src/twitterscraper/Twitterscraper.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="twitterscraper.Twitterscraper"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="data/republicans_temp.csv data/democrats_03152011.csv"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="twitterscraper"/>
</launchConfiguration>
